<form ngbDropdown class="position-relative d-flex me-5" (submit)="redirect($event)">
    <input (click)="openList()" [formControl]="prefix" class="form-control me-2" placeholder="Search for user" />
    <button type="submit" class="btn btn-success" [disabled]="loading()">
        @if (loading()) {
        <div class="spinner-border spinner-border-sm text-light" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
        }
        @else {
        <i class="bi bi-search"></i>
        }
    </button>
    <ul ngbDropdownMenu class="w-100 top-100 shadow">
        @if (searchResult(); as searchResult) {
        @for (user of searchResult.users; track user.id) {
        <li ngbDropdownItem>
            <a [routerLink]="['/dashboard/users', user.id]" class="text-decoration-none" style="color: inherit;">
                <user [id]="user.id" [displayName]="user.displayName" [avatar]="user.avatar"></user>
            </a>
        </li>
        } @empty {
        <li ngbDropdownItem class="text-center">No users found</li>
        }
        @if (searchResult.total > MAX_USERS) {
        <li class="dropdown-divider"></li>
        <li ngbDropdownItem class="text-center">
            <a class="d-block" style="text-decoration: none; color: inherit;" routerLink="/dashboard/users"
                [queryParams]="{ startsWith: prefix.value }">Show more</a>
        </li>
        }
        }
    </ul>
</form>