<div ngbDropdown display="dynamic" class="d-inline-block ms-3" [class]="clazz()" role="button">
    <div class="d-flex align-items-center" ngbDropdownToggle>
        <user clazz="navbar-text text-small" [user]="currentUser()"></user>
    </div>
    <div ngbDropdownMenu class="shadow">
        <a [routerLink]="['/dashboard', 'users', currentUser().id]" ngbDropdownItem>View profile</a>
        <a routerLink="/dashboard/settings" ngbDropdownItem>Settings</a>
        <hr class="dropdown-divider">
        @for (presence of presences; track presence.name) {
        <button ngbDropdownItem class="d-flex align-items-center" (click)="updatePreferredPresence(presence.name)">
            <svg viewBox="0 0 15 15" with="15" height="15" class="me-2">
                <circle cx="50%" cy="50%" r="6" [attr.fill]="presence.color" />
            </svg>{{ presence.name | snakeCaseToTitleCase }}</button>
        }
        <hr class="dropdown-divider">
        <a [href]="logoutUrl()" ngbDropdownItem>Logout</a>
    </div>
</div>