<div style="max-height: calc(100vh - 56px);" class="overflow-auto">
    <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
        <li [ngbNavItem]="1">
            <button ngbNavLink>Friends</button>
            <ng-template ngbNavContent>
                <div class="position-relative m-1">
                    <input type="text" class="form-control" placeholder="Search for friends" [formControl]="userFilter">
                    <i class="bi bi-search position-absolute top-50 end-0 translate-middle-y me-3 text-muted"></i>
                </div>
                <div ngbAccordion class="m-1">
                    <div ngbAccordionItem [collapsed]="false">
                        <h2 ngbAccordionHeader>
                            <button ngbAccordionButton class="p-2">Online</button>
                        </h2>
                        <div ngbAccordionCollapse>
                            <div ngbAccordionBody class="px-0 py-0">
                                <ng-template>
                                    <div class="list-group list-group-flush">
                                        @for (friend of online(); track friend.id) {
                                        <div class="list-group-item list-group-item-action">
                                            <div container="body" ngbDropdown class="w-100" display="dynamic">
                                                <div class="d-flex align-items-center">
                                                    <user ngbDropdownToggle [user]="friend" role="button"
                                                        [showActivity]="true"></user>
                                                    @let uc = dms()[friend.id]?.()?.unreadCount ?? 0;
                                                    @if (uc > 0) {
                                                    <span class="badge rounded-pill text-bg-danger ms-2">
                                                        {{ uc }}</span>
                                                    }
                                                </div>
                                                <div ngbDropdownMenu class="shadow">
                                                    <a [routerLink]="['/users', friend.id]" ngbDropdownItem><i
                                                            class="bi bi-person"></i> View
                                                        profile</a>
                                                    <button ngbDropdownItem (click)="openDm(friend.id)"><i
                                                            class="bi bi-chat"></i> Message</button>
                                                    <button ngbDropdownItem (click)="invite(friend.id)"><i
                                                            class="bi bi-controller"></i>
                                                        Invite</button>
                                                    <div class="dropdown-divider"></div>
                                                    <button ngbDropdownItem class="text-danger"
                                                        (click)="unfriend(friend.id)"><i class="bi bi-person-dash"></i>
                                                        Unfriend</button>
                                                </div>
                                            </div>
                                        </div>
                                        }
                                        @empty {
                                        <div class="list-group-item text-center">No friends online</div>
                                        }
                                    </div>
                                </ng-template>
                            </div>
                        </div>
                    </div>
                    <div ngbAccordionItem>
                        <h2 ngbAccordionHeader>
                            <button ngbAccordionButton class="p-2">
                                Offline
                            </button>
                        </h2>
                        <div ngbAccordionCollapse>
                            <div ngbAccordionBody class="px-0 py-0">
                                <ng-template>
                                    <div class="list-group list-group-flush">
                                        @for (friend of offline(); track friend.id) {
                                        <div class="list-group-item list-group-item-action">
                                            <div ngbDropdown class="w-100" display="dynamic">
                                                <div class="d-flex align-items-center">
                                                    <user ngbDropdownToggle [user]="friend" role="button"
                                                        [showActivity]="true"></user>
                                                    @let uc = dms()[friend.id]?.()?.unreadCount ?? 0;
                                                    @if (uc > 0) {
                                                    <span class="badge rounded-pill text-bg-danger ms-2">
                                                        {{ uc }}</span>
                                                    }
                                                </div>
                                                <div ngbDropdownMenu class="shadow">
                                                    <a [routerLink]="['/users', friend.id]" ngbDropdownItem><i
                                                            class="bi bi-person"></i> View
                                                        profile</a>
                                                    <button ngbDropdownItem (click)="openDm(friend.id)"><i
                                                            class="bi bi-chat"></i> Message</button>
                                                    <div class="dropdown-divider"></div>
                                                    <button ngbDropdownItem class="text-danger"
                                                        (click)="unfriend(friend.id)"><i class="bi bi-person-dash"></i>
                                                        Unfriend</button>
                                                </div>
                                            </div>
                                        </div>
                                        }
                                        @empty {
                                        <div class="list-group-item text-center">No friends offline</div>
                                        }
                                    </div>
                                </ng-template>
                            </div>
                        </div>
                    </div>
                    <div ngbAccordionItem [disabled]="false">
                        <h2 ngbAccordionHeader>
                            <button ngbAccordionButton class="p-2">Group chats</button>
                        </h2>
                        <div ngbAccordionCollapse>
                            <div ngbAccordionBody>
                                <ng-template>
                                    <!-- content here -->
                                </ng-template>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>
        </li>
        <li [ngbNavItem]="2">
            <div class="position-relative">
                <button ngbNavLink>Friend Requests</button>
                @if (friendRequests().length > 0) {
                <span class="position-absolute top-0 start-100 badge rounded-pill bg-danger"
                    style="transform: translateX(-100%);">
                    {{ friendRequests().length }}
                </span>
                }
            </div>
            <ng-template ngbNavContent>
                <div class="list-group list-group-flush">
                    <div class="card-footer bg-white border-top">
                        @for (request of friendRequests(); track request.id) {
                        <div class="list-group-item list-group-item-action" role="button">
                            <div ngbDropdown class="w-100" display="dynamic" container="body">
                                <user ngbDropdownToggle [user]="request.sender"></user>
                                <div ngbDropdownMenu class="shadow">
                                    <a [routerLink]="['/users', request.sender.id]" ngbDropdownItem><i
                                            class="bi bi-person"></i>
                                        View profile</a>
                                    <div class="dropdown-divider"></div>
                                    <button ngbDropdownItem (click)="acceptFriendRequest(request.id)"><i
                                            class="bi bi-check text-success"></i> Accept</button>
                                    <button ngbDropdownItem (click)="rejectFriendRequest(request.id)"><i
                                            class="bi bi-x text-danger"></i> Reject</button>
                                </div>
                            </div>
                        </div>
                        }
                        @empty {
                        <div class="list-group-item text-center">No friend requests</div>
                        }
                    </div>
                </div>
            </ng-template>
        </li>
    </ul>

    <div [ngbNavOutlet]="nav"></div>
</div>