<navbar>
    <div class="collapse navbar-collapse">
        <div class="navbar-nav">
            <play-menu clazz="nav-item"></play-menu>
            <div class="nav-item">
                <a class="nav-link" routerLink="/leaderboard">Leaderboard</a>
            </div>
        </div>
    </div>
    <user-search></user-search>
    <div class="navbar-nav">
        <notification-menu clazz="nav-item"></notification-menu>
    </div>
    <user-menu clazz="nav-item"></user-menu>
</navbar>
<div class="container-fluid position-relative">
    <div class="row">
        <div class="col-md-10">
            <alert></alert>
            <div class="container-fluid py-4 overflow-auto" style="height: calc(100vh - 56px);">
                <router-outlet></router-outlet>
            </div>
        </div>
        <div class="col-md-2 p-0">
            <friend-list></friend-list>
        </div>
    </div>
    <queue-toast></queue-toast>
</div>