<navbar>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
                <a class="nav-link active" aria-current="page" routerLink="/home">Home</a>
            </li>
        </ul>
        <div class="d-flex align-items-center">
            <small class="navbar-text me-2">Already have an account?</small>
            <a [href]="loginUrl()" class="btn btn-success">Sign in</a>
        </div>
    </div>
</navbar>
<div class="container">
    <div class="row mt-5"></div>
    <div class="row mt-5">
        <div class="col-lg pb-5 glide-in-from-left">
            <h1 class="fw-bold">Play chess online for free!</h1>
            <h2>What we offer:</h2>
            <ul>
                <li>Competitive / casual matchmaking</li>
                <li>Leaderboard</li>
                <li>Social features</li>
                <li>And many more</li>
            </ul>
            <hr />
            <p>Don't have an account?</p>
            <a [href]="registerUrl()" class="btn btn-lg btn-primary">
                Sign up
            </a>
        </div>
        <div class="col-lg position-relative glide-in-from-right">
            <img class="fade-in-out bg-light position-absolute w-100 py-5" height="300" alt="" src="imgs/bishop.svg" />
            <img class="fade-in-out bg-light position-absolute w-100 py-5" height="300" alt="" src="imgs/king.svg" />
            <img class="fade-in-out bg-light position-absolute w-100 py-5" height="300" alt="" src="imgs/knight.svg" />
            <img class="fade-in-out bg-light position-absolute w-100 py-5" height="300" alt="" src="imgs/pawn.svg" />
            <img class="fade-in-out bg-light position-absolute w-100 py-5" height="300" alt="" src="imgs/queen.svg" />
            <img class="fade-in-out bg-light position-absolute w-100 py-5" height="300" alt="" src="imgs/rook.svg" />
        </div>
    </div>
</div>