@switch (profileLink()) {
@case (true) {
<a [routerLink]="['/dashboard', 'users', id()]" class="d-flex align-items-center" [class.flex-column]="vertical()"
    style="text-decoration: none; color: inherit;">
    <ng-container *ngTemplateOutlet="content"></ng-container>
</a>
}
@case (false) {
<div class="d-flex align-items-center" [class.flex-column]="vertical()">
    <ng-container *ngTemplateOutlet="content"></ng-container>
</div>
}
}

<ng-template #content>
    <avatar [clazz]="'rounded-circle ' + (vertical() ? 'mb-1' : 'me-1')" [src]="avatar()" [width]="avatarSize()">
    </avatar>
    <div [style.fontSize.rem]="displayNameSize()">{{ displayName() }}</div>
</ng-template>