<navbar>
    <div class="collapse navbar-collapse">
        <div class="navbar-nav">
            <play-menu clazz="nav-item"></play-menu>
            <div class="nav-item">
                <a class="nav-link" routerLink="/dashboard/leaderboard">Leaderboard</a>
            </div>
        </div>
    </div>
    <user-search></user-search>
    <div class="navbar-nav">
        <notification-menu clazz="nav-item"></notification-menu>
    </div>
    <user-menu clazz="nav-item"></user-menu>
</navbar>
<router-outlet></router-outlet>