<navbar>
    <div class="collapse navbar-collapse">
        <div class="navbar-nav">
            <play-menu clazz="nav-item"></play-menu>
            <div class="nav-item">
                <a class="nav-link" routerLink="/dashboard/leaderboard">Leaderboard</a>
            </div>
        </div>
    </div>
    <user-search></user-search>
    <div class="navbar-nav">
        <notification-menu clazz="nav-item"></notification-menu>
    </div>
    <user-menu clazz="nav-item"></user-menu>
</navbar>
<div class="container-fluid">
    <div class="row position-relative">

        <div class="col-md-10">
            @if (alertDetails()) {
            <ngb-alert #alert (closed)="onAlertClose()" [type]="alertDetails()?.type ?? ''" class="position-fixed top-0 start-50 translate-middle-x mt-3 shadow"
                style="min-width: 500px;">{{ alertDetails()?.message }}</ngb-alert>
            }
            <router-outlet></router-outlet>
        </div>

        <div class="col-md-2">

            <friend-list></friend-list>

        </div>

    </div>
</div>