.fade-in-out {
    animation-name: fade-in-out;
    animation-timing-function: ease-in-out;
    animation-duration: 18s;
    animation-iteration-count: infinite;
}

.fade-in-out:nth-of-type(6) {
    animation-delay: 0s;
}

.fade-in-out:nth-of-type(5) {
    animation-delay: 3s;
}

.fade-in-out:nth-of-type(4) {
    animation-delay: 6s;
}

.fade-in-out:nth-of-type(3) {
    animation-delay: 9s;
}

.fade-in-out:nth-of-type(2) {
    animation-delay: 12s;
}

.fade-in-out:nth-of-type(1) {
    animation-delay: 15s;
}

@keyframes fade-in-out {
    0% {
        opacity: 1;
    }

    11% {
        opacity: 1;
    }

    16.67% {
        opacity: 0;
    }

    94.4% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

.glide-in-from-right {
    animation-name: glide-in-from-right;
    animation-duration: 1s;
}

@keyframes glide-in-from-right {
    from {
        transform: translate(500px, 0px);
    }

    to {
        transfrom: translate(0px, 0px);
    }
}