<div ngbDropdown class="nav-item dropdown" display="dynamic">
    <a ngbDropdownToggle class="nav-link position-relative" role="button">
        <i class="bi bi-bell-fill"></i>
    </a>

    <div ngbDropdownMenu class="dropdown-menu p-0 shadow" style="width: 400px;">

        <div class="d-flex justify-content-between align-items-center px-3 py-2 border-bottom">
            <span class="fw-semibold">Notifications</span>
            <a href="#" class="small text-decoration-none">Mark all as read</a>
        </div>

        <div class="list-group list-group-flush">
            <notification class="list-group-item list-group-item-action"></notification>
            <notification class="list-group-item list-group-item-action"></notification>
            <notification class="list-group-item list-group-item-action"></notification>
        </div>

        <div class="text-center border-top py-2">
            <a ngbDropdownItem routerLink="/dashboard/notifications" class="small text-decoration-none">View all
                notifications</a>
        </div>

    </div>
</div>