<div class="table-responsive">
    <table class="table table-hover mb-0 align-middle">
        <thead class="table-light">
            <tr>
                <th>Played At</th>
                <th>Duration</th>
                <th>Type</th>
                <th>Color</th>
                <th>Outcome</th>
                <th>MMR change</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @for (match of matches(); track match.matchId) {
            <tr>
                <td>{{ match.startedAt | timeAgo }}</td>
                <td>{{ match.duration | timeFormat : "ms" }}</td>
                <td>{{ match.matchType | titlecase }}</td>
                <td>
                    {{ getColorIcon(match.color) }}
                </td>
                <td><span class="badge" [class]="getOutcomeClass(match.outcome)">{{ match.outcome }}</span>
                </td>
                <td class="fw-semibold" [class]="getMmrChangeClass(match.mmrChange)">
                    {{ match.mmrChange != null ? ( match.mmrChange | sign ) : '' }}</td>
                <td><a [href]="'/matches/' + match.matchId + '/replay'" target="_blank">replay</a></td>
            </tr>
            }
        </tbody>
    </table>